<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}"/>
    </head>

    <nav>
        <ul>
            <li><a href="{{ path("all_books") }}">Books</a></li>
            <li><a href="{{ path("all_patrons") }}">Patrons</a></li>
            <li><a href="all_loans.html">Loans</a></li>
        </ul>
    </nav>

    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
